{% extends "qmain/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container-fluid mt-5">
<!-- Card -->
<div class="card">
<div class="row">
    <div class="col-4">
    <!-- Avatar -->
    <div class="avatar mx-auto white text-center">
      
        {% if request.user.teacher.profile_img %}
        <img class="profile_img" src="{{request.user.teacher.profile_img.url}}" class="rounded-circle"
        style="width: 200px; border-radius: 50%; margin-top: 20px; ">
        {% endif %}
      
      {% if request.user.student.profile_img %}
      <img class="profile_img2" src="{{request.user.student.profile_img.url}}" class="rounded-circle"
        style="width: 200px; ">
      {% endif %}
    </div>
    </div>
    <div class="col-8">
    <!-- Content -->
    
    <div class="card-body">
      <!-- Name -->
      <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}
      {{form|crispy}}
     
      <hr>
      <!-- Quotation -->
      <input class="btn btn-green" type="submit" name="Update Information">
      </form>
    </div>
  </div>
  </div>
</div>
</div>
<!-- Card -->
</div>
{% endblock content %}